{% extends 'base.html' %}
{% block content %}
    <h1>welcome to Tic Tac Toe</h1>
    <button type="button" class="btn btn-primary btn-lg"
            onclick="window.location.href='{{ url_for('start_game', player_type='X', two=False) }}'"> start first (X)
    </button>
    <button type="button" class="btn btn-primary btn-lg"
            onclick="window.location.href='{{ url_for('start_game', player_type='O', two=False) }}'"> start second (O)
    </button>
    <button type="button" class="btn btn-primary btn-lg"
            onclick="window.location.href='{{ url_for('start_game', player_type='X', two=True) }}'"> 2 players
    </button>
    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='{{ url_for('game_stats') }}'">
        get stats
    </button>
{% endblock %}
