{% extends 'base.html' %}
{% block content %}
    <h1>Game stats</h1>
    <div class="container" style="padding-bottom: 50px; padding-top: 50px;">
        <p>Games: {{ stats.games }}</p>
        {% if stats.games > 0 %}
            <p>Wins: {{ stats.wins }}</p>
            <p>Losses: {{ stats.losses }}</p>
            <p>Ties: {{ stats.ties }}</p>
            <p>Win-rate: {{ stats.wins/stats.games*100 }}%</p>
            <p>Lose-rate: {{ stats.losses/stats.games*100 }}%</p>
            <p>Tie-rate: {{ stats.ties/stats.games*100 }}%</p>
        {% else %}
            <p>play some games first then come back here</p>
        {% endif %}
    </div>
    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='{{ url_for('home') }}'">
        Go to home
    </button>
{% endblock %}
